<section>
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <h1>Sign in to unicorn</h1>

    <span *ngIf="serverErrors?.length" class="error">{{ serverErrors }}</span>

    <div class="form-group">
      <label for="username-input">username</label>
      <input
        type="text"
        class="form-control"
        id="username-input"
        formControlName="username"
        placeholder="username"
        [ngClass]="{
          'is-invalid':
            loginForm.get('username')?.touched &&
            loginForm.get('username')?.invalid
        }"
      />
      <span
        class="invalid-feedback"
        *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']"
      >
        username is required
      </span>

      <span
        class="invalid-feedback"
        *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['minlength']"
      >
        Minimum length is 3 characters
      </span>
    </div>

    <div class="form-group mt-3">
      <label for="password-input">password</label>
      <input
        type="password"
        class="form-control"
        id="password-input"
        formControlName="password"
        placeholder="Enter password"
        [ngClass]="{
          'is-invalid':
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
        }"
      />
      <span
        class="invalid-feedback"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
      >
        password is required
      </span>
      <span
        class="invalid-feedback"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']"
      >
        Minimum length is 8 characters
      </span>
    </div>

    <button
      mat-flat-button
      class="btn btn-primary w-100 mt-4"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</section>
