.table-container {
  min-height: 26rem;
  border-radius: 20px !important;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: relative;
  height: auto;
  padding-bottom: 4rem;
}
