<header
  class="d-flex justify-content-between align-items-center p-2 border-bottom fixed-top bg-white mx-2"
>
  <div>
    <h3>logo</h3>
  </div>

  <div class="dropdown text-end">
    <div
      class="d-block link-dark text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt="mdo"
        width="32"
        height="32"
        class="rounded-circle"
      />
      {{ profileInfo?.username }}
    </div>
    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
      <li class="dropdown-item" (click)="logout()">Sign out</li>
    </ul>
  </div>
</header>
