<table class="table p-2 shadow table-bordered">
  <thead>
    <tr>
      <th scope="col" class="bg-info-subtle py-3">Device Name</th>
      <th scope="col" class="bg-info-subtle py-3">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="isLoading; else tableContent">
      <tr>
        <td colspan="2" class="text-center">
          <div class="spinner-border" role="status"></div>
        </td>
      </tr>
    </ng-container>
    <ng-template #tableContent>
      <tr *ngFor="let battery of batteries">
        <td class="py-3">{{ battery.displayName }}</td>
        <td class="py-3">
          <button class="btn btn-sm btn-primary" (click)="showModal(battery)">
            Edit
          </button>
        </td>
      </tr>
    </ng-template>

    <tr class="pt-3" *ngIf="totalPage !== 1">
      <td colspan="8">
        <app-pagination [totalPage]="totalPage"></app-pagination>
      </td>
    </tr>
  </tbody>
</table>

<app-edit-battery
  [isOpen]="isOpen"
  [editBatteryForm]="editForm"
  [editBatteryId]="editBatteryId"
  (closeModal)="closeModal()"
></app-edit-battery>
